[submodule "source/easy-signaling"]
	path = source/easy-signaling
	url = https://github.com/Innovailable/easy-signaling.git
[submodule "source/rtc-lib"]
	path = source/rtc-lib
	url = https://github.com/Innovailable/rtc-lib.git
